
.body{
  color: black;
}


.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.gallery-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-header {
  text-align: center;
  margin-bottom: 20px;
}

.gallery-filters {
  text-align: center;
  margin-bottom: 20px;
}

.filter-btn {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #3e8e41;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-item {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.gallery-item p {
  font-size: 14px;
  color: #666;
}

.photo {
  display: flex;
  justify-content: space-around;
  align-items: auto;
  margin: 20px auto;
  flex-wrap: wrap;
  gap: 20px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border-color: black 1px solid;
  
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Variants for size */
.gallery .wide {
  grid-column: span 2;
}

.gallery .tall {
  grid-row: span 2;
}

.gallery .big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery .normal {
  grid-column: span 1;
  grid-row: span 1;
}
